#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 276px;
  border-radius: 4px;

  background: white;
  padding: 24px;

  & span {
    display: block;
  }
}
